<!--
  Step 1: The form must be sharable between the new and edit views.
-->
<script>
  let hideSearch;
</script>
<form id="form" action="<%= (typeof actionPath === 'undefined') ? '/trades' : actionPath %>" , method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
  <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>


  <label for="tradeType" id="tradeTypeLable">Trade Type</label>
  <!-- <div class="form-group tradeType">    -->
  <hr />
  <!-- <form> -->
  <div id="tradeTypeDiv">
    <label>
      <input type="radio" id="tradeType" name="tradeType" value="On the Block" checked>
      Add Card to My Block</label><br>
  </div>
  <div id="tradeTypeDiv2">
    <label>
      <input type="radio" id="tradeType2" name="tradeType" value="Looking For">
      Looking For</label><br>
  </div>
  <!-- </form> -->


  <!-- <select name="tradeType" id="tradeType" class="form-control">
      <option value="On the Block">Add Card to My Block</option>
      <option <%= formData.tradeType && formData.tradeType === 'Looking For' ? 'selected' : null %> value="Looking For">
        Looking For</option>
    </select> -->

  <!-- </div> -->
  <script>
    document.getElementById('tradeType').onchange = function () {
      if (document.getElementById('tradeType').value = "On the Block") {
        document.getElementById('lookingForSearch').style.display = 'block';
        document.getElementById('buyNow').style.display = 'block';
        hideSearch = false;
      }
    };
    document.getElementById('tradeType2').onchange = function () {
      if (document.getElementById('tradeType2').value = "Looking For") {
        document.getElementById('lookingForSearch').style.display = 'none';
        document.getElementById('buyNow').style.display = 'none';
        hideSearch = true;
      }
    };
  </script>




  <%- include ('../partials/search') %>

  <hr />
  <div class="form-group">
    <label for="hutCard">
      <h5>HUT Card Information</h5>
    </label>
    <div id="tableCardInfo" style="display: block;">
    <div class="row hutCard">
      <div class="col hutCardItem">Name:</div>
      <div class="col" id="cardName">---</div>
      <div class="col hutCardItem">OVR:</div>
      <div class="col" id="cardOVR">---</div>
      <div class="col hutCardItem">aOVR:</div>
      <div class="col" id="cardaOVR">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">FS:</div>
      <div class="col" id="cardFS">---</div>
      <div class="col hutCardItem">CARD:</div>
      <div class="col" id="cardCARD">---</div>
      <div class="col hutCardItem">POS:</div>
      <div class="col" id="cardPOS">---</div>
    </div>

    <div class="row hutCard">
      <div class="col hutCardItem">TYPE:</div>
      <div class="col" id="cardTYPE">---</div>
      <div class="col hutCardItem">HAND:</div>
      <div class="col" id="cardHAND">---</div>
      <div class="col hutCardItem">DEK:</div>
      <div class="col" id="cardDEK">---</div>
    </div>

    <div class="row hutCard">
      <div class="col hutCardItem">HAE:</div>
      <div class="col" id="cardHAE">---</div>
      <div class="col hutCardItem">PAS:</div>
      <div class="col" id="cardPAS">---</div>
      <div class="col hutCardItem">SSA:</div>
      <div class="col" id="cardSSA">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">SSP:</div>
      <div class="col" id="cardSSP">---</div>
      <div class="col hutCardItem">WSA:</div>
      <div class="col" id="cardWSA">---</div>
      <div class="col hutCardItem">ACC:</div>
      <div class="col" id="cardACC">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">AGI:</div>
      <div class="col" id="cardAGI">---</div>
      <div class="col hutCardItem">BAL:</div>
      <div class="col" id="cardBAL">---</div>
      <div class="col hutCardItem">END:</div>
      <div class="col" id="cardEND">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">SPD:</div>
      <div class="col" id="cardSPD">---</div>
      <div class="col hutCardItem">DIS:</div>
      <div class="col" id="cardDIS">---</div>
      <div class="col hutCardItem">OAW:</div>
      <div class="col" id="cardOAW">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">DAW:</div>
      <div class="col" id="cardDAW">---</div>
      <div class="col hutCardItem">FO:</div>
      <div class="col" id="cardFO">---</div>
      <div class="col hutCardItem">BLK:</div>
      <div class="col" id="cardBLK">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">SCH:</div>
      <div class="col" id="cardSCH">---</div>
      <div class="col hutCardItem">AGR:</div>
      <div class="col" id="cardAGR">---</div>
      <div class="col hutCardItem">CHK:</div>
      <div class="col" id="cardCHK">---</div>
    </div>
    <div class="row hutCard">
      <div class="col hutCardItem">SYN:</div>
      <div class="col" id="cardSYN">---</div>
      <div class="col hutCardItem">STR:</div>
      <div class="col" id="cardSTR">---</div>
      <div class="col hutCardItem">DUR:</div>
      <div class="col" id="cardDUR">---</div>
    </div>   
      </div>




      <!-- goalie table -->
      <div id="tableCardInfoG" style="display: none;">
        <div class="row hutCard">
          <div class="col hutCardItem">Name:</div>
          <div class="col" id="cardNameG">---</div>
          <div class="col hutCardItem">OVR:</div>
          <div class="col" id="cardOVRG">---</div>
          <div class="col hutCardItem">CARD:</div>
          <div class="col" id="cardCARDG">---</div>
        </div>
        <div class="row hutCard">
          <div class="col hutCardItem">POS:</div>
          <div class="col" id="cardPOSG">---</div>
          <div class="col hutCardItem">AGR:</div>
          <div class="col" id="cardAGRG">---</div>
          <div class="col hutCardItem">AGI:</div>
          <div class="col" id="cardAGIG">---</div>
        </div>
    
        <div class="row hutCard">
          <div class="col hutCardItem">HEIGHT:</div>
          <div class="col" id="cardHEIGHT">---</div>
          <div class="col hutCardItem">WEIGHT:</div>
          <div class="col" id="cardWEIGHT">---</div>
          <div class="col hutCardItem">SPD:</div>
          <div class="col" id="cardSPDG">---</div>
        </div>

        <div class="row hutCard">         
          <div class="col hutCardItem">BRK-AW:</div>
          <div class="col" id="cardBRK-AW">---</div>
          <div class="col hutCardItem">5H:</div>
          <div class="col" id="card5H">---</div>
          <div class="col hutCardItem">HND:</div>
          <div class="col" id="cardHND">---</div>
        </div>
        <div class="row hutCard">
          <div class="col hutCardItem">GLV-H:</div>
          <div class="col" id="cardGLV-H">---</div>
          <div class="col hutCardItem">GLV-L:</div>
          <div class="col" id="cardGLV-L">---</div>
          <div class="col hutCardItem">PASS:</div>
          <div class="col" id="cardPASS">---</div>
          
        </div>
        <div class="row hutCard">
          <div class="col hutCardItem">PLYR:</div>
          <div class="col" id="cardPLYR">---</div>
          <div class="col hutCardItem">POKE:</div>
          <div class="col" id="cardPOKE">---</div>
          <div class="col hutCardItem">POST:</div>
          <div class="col" id="cardPOSTG">---</div>
        </div>       
        <div class="row hutCard">
          <div class="col hutCardItem">VIS:</div>
          <div class="col" id="cardVIS">---</div>
          <div class="col hutCardItem">RB-CON:</div>
          <div class="col" id="cardRB-CON">---</div>
          <div class="col hutCardItem">SHT-RE:</div>
          <div class="col" id="cardSHT-RE">---</div>
        </div>
        <div class="row hutCard">
          <div class="col hutCardItem">STK-H:</div>
          <div class="col" id="cardSTK-H">---</div>
          <div class="col hutCardItem">STK-L:</div>
          <div class="col" id="cardSTK-L">---</div>
          <div class="col hutCardItem">SYN:</div>
          <div class="col" id="cardSYNG">---</div>
        </div>   
          </div>
  </div>


  <div class="form-group" id="lookingForSearch">
    <hr />
    <label for="trade">Looking For in Return:</label> <br />
    <label for="trade">Card 1:</label>
    <%- include ('../partials/searchLF') %>
    <label for="trade">Card 2:</label>
    <%- include ('../partials/searchLF1') %>
    <label for="trade">Card 3:</label>
    <%- include ('../partials/searchLF2') %>
    <label for="trade">Card 4:</label>
    <%- include ('../partials/searchLF3') %>

 

  </div>



  <div class="form-group" id="buyNow">
    <label for="buyNow">Buy Now Price(coins):</label>

    <input type="number" id="input-txt-bin" name="buyNow">
    <input type="button" class="btn btn-outline-success" id="input-btn-bin" value="Coins">
    <input type="button" class="btn btn-outline-dark" id="input-btn-no-bin" value="No BIN">


    <!-- <input type="number" name="buyNow" class="form-control summernote" value="<%= formData.buyNow %>"> -->
  </div>



  
  <label>Pick A Console:</label>
<div class="switch-toggle switch-2 switch-candy">
  <input id="xbox" class="consolePicker" name="console" value="Xbox" type="radio" />
  <label for="xbox" class="consolePicker" onclick="" style="background-color: #107C10;">Xbox</label>
 
  <input id="ps" class="consolePicker" name="console" value="PS" type="radio" />
  <label for="ps" class="consolePicker" onclick="" style="background-color: #003087;">PS</label>

  <a></a>
</div>



  <input hidden name="cardId" id="cardId" value=""></input>
  <input hidden name="playerName" id="playerName" value=""></input>
  <input hidden name="playerCard" id="playerCard" value=""></input>
  <input hidden name="playerOVR" id="playerOVR" value=""></input>
  <input hidden name="cardList1" id="cardList1" value=""></input>
  <input hidden name="cardList2" id="cardList2" value=""></input>
  <input hidden name="cardList3" id="cardList3" value=""></input>
  <input hidden name="cardList4" id="cardList4" value=""></input>

<hr />
  <div class="form-group">
    <button class="btn btn-dark" type="submit" form="form" value="Submit">Submit</button>
  </div>
</form>



<script>
  function updateHUTCard(ui) {

    // If it isnt a goalie card, show the normal table.
 if(ui.postition != "G"){

  document.getElementById('tableCardInfo').style.display = "block";
  document.getElementById('tableCardInfoG').style.display = "none";
  
 }  
 if(ui.postition === "G"){
 
  document.getElementById('tableCardInfo').style.display = "none";
  document.getElementById('tableCardInfoG').style.display = "block";

}





  

// add info to the page depending if its a goalie or not. just like above. they match their tables.
 if(ui.postition != "G"){    
    document.getElementById('playerName').value = ui.playerName;    
    document.getElementById('playerCard').value = ui.card;    
    document.getElementById('playerOVR').value = ui.overall;
    document.getElementById('cardName').innerHTML = ui.playerName;
    document.getElementById('cardOVR').innerHTML = ui.overall;
    document.getElementById('cardPOS').innerHTML = ui.postition; 
    document.getElementById('cardCARD').innerHTML = ui.card; 
    document.getElementById('cardaOVR').innerHTML = ui.averageOverAll;      
    document.getElementById('cardTYPE').innerHTML = ui.playerType;
    document.getElementById('cardHAND').innerHTML = ui.handedness;
    document.getElementById('cardDEK').innerHTML = ui.deking;
    document.getElementById('cardHAE').innerHTML = ui.handEye;
    document.getElementById('cardPAS').innerHTML = ui.passing;
    document.getElementById('cardSSA').innerHTML = ui.slapShotAccuracy;
    document.getElementById('cardSSP').innerHTML = ui.slapShotPower;
    document.getElementById('cardWSA').innerHTML = ui.wristShotAccuracy;
    document.getElementById('cardACC').innerHTML = ui.wristShotPower;
    document.getElementById('cardAGI').innerHTML = ui.agility;
    document.getElementById('cardBAL').innerHTML = ui.balance;
    document.getElementById('cardEND').innerHTML = ui.endurance;
    document.getElementById('cardSPD').innerHTML = ui.speed;
    document.getElementById('cardDIS').innerHTML = ui.discipline;
    document.getElementById('cardOAW').innerHTML = ui.offensiveAwareness;
    document.getElementById('cardDAW').innerHTML = ui.defensiveAwareness;
    document.getElementById('cardFO').innerHTML = ui.faceOffs;
    document.getElementById('cardBLK').innerHTML = ui.shotBlocking;
    document.getElementById('cardSCH').innerHTML = ui.stickChecking;
    document.getElementById('cardAGR').innerHTML = ui.aggression;
    document.getElementById('cardCHK').innerHTML = ui.bodyChecking;
    document.getElementById('cardDUR').innerHTML = ui.durability;
    document.getElementById('cardFS').innerHTML = ui.fightingSkill;
    document.getElementById('cardSTR').innerHTML = ui.strength;
    document.getElementById('cardSYN').innerHTML = ui.synergies;

  };


  // if goalie card/table
 if(ui.postition === "G"){        

  document.getElementById('playerName').value = ui.playerName;    
    document.getElementById('playerCard').value = ui.card;    
    document.getElementById('playerOVR').value = ui.overall;
    document.getElementById('cardNameG').innerHTML = ui.playerName;
    document.getElementById('cardOVRG').innerHTML = ui.overall;
    document.getElementById('cardPOSG').innerHTML = ui.postition; 
    document.getElementById('cardCARDG').innerHTML = ui.card;          
    document.getElementById('cardPLYR').innerHTML = ui.playerType;
    document.getElementById('cardHND').innerHTML = ui.handedness;
    document.getElementById('cardPASS').innerHTML = ui.passing;
    document.getElementById('cardAGIG').innerHTML = ui.agility;
    document.getElementById('cardSPDG').innerHTML = ui.speed;
    document.getElementById('cardAGRG').innerHTML = ui.aggression;
    document.getElementById('cardSTR').innerHTML = ui.strength;
    document.getElementById('cardHEIGHT').innerHTML = ui.height;
    document.getElementById('cardWEIGHT').innerHTML = ui.weight;
    document.getElementById('cardBRK-AW').innerHTML = ui.breakaway;
    document.getElementById('card5H').innerHTML = ui.fiveHole;
    document.getElementById('cardGLV-H').innerHTML = ui.gloveHigh;
    document.getElementById('cardGLV-L').innerHTML = ui.gloveLow;
    document.getElementById('cardPOKE').innerHTML = ui.pokeCheck;
    document.getElementById('cardPOSTG').innerHTML = ui.positioning;
    document.getElementById('cardRB-CON').innerHTML = ui.reboundControll;
    document.getElementById('cardSHT-RE').innerHTML = ui.shotRecovery;
    document.getElementById('cardSTK-H').innerHTML = ui.stickHigh;
    document.getElementById('cardSTK-L').innerHTML = ui.stickLow;
    document.getElementById('cardVIS').innerHTML = ui.vision;

    document.getElementById('cardSYNG').innerHTML = ui.synergies;

  };

    
  

  }

        
       
  
                         
        

  document.getElementById('input-btn-bin').addEventListener('click', function () {
			document.getElementById('input-txt-bin').classList.add('active');
    });
    
    document.getElementById('input-btn-no-bin').addEventListener('click', function () {
      document.getElementById('input-txt-bin').classList.remove('active');
      document.getElementById('input-txt-bin').value = "";
		});


</script>