<!-- home after login template-->
<%- include ('../partials/header') %>
<div class="container my-5">
  <header class="homeHeader">
    <h1>Home</h1>
    <!-- This will check the users type if they are logged in and there is a user type. -->
    <% if(typeof user != "undefined" && authorized){ %>
    <% if(user.userType === "pro"  || user.userType === "super"){ %>
    <!-- hidden form to pass mode change to controller. -->
    <form id="form" style="visibility: hidden; display: none;"
      action="<%= (typeof actionPath === 'undefined') ? '/modeChange' : actionPath %>" , method="POST">
      <input hidden name="modeChange" id="modeChange" value=""></input>
      <input hidden name="user" id="user" value="<%= user %>"></input>
      <div class="form-group">
        <button class="btn btn-dark" type="submit" form="form" value="Submit">Submit</button>
      </div>
    </form>
    <!-- if user is already in light mode -->
    <% if(user.viewMode === "light"){ %>

    <!-- switch for light/dark mode. -->
    <div style="display: inline-block; float: right; margin-top: .25em; margin-left: 1em;">
      <p style="display: inline-block;">Light Mode</p>
      <i class="fa fa-sun-o" aria-hidden="true"></i>
    </div>
    <div style="display: inline-block; float: right;">
      <label class="switchHome" style="display: inline-block;">
        <input type="checkbox" id="changeMode" value="dark" checked>
        <span class="sliderHome roundHome"></span>
      </label>
    </div>
    <div style="display: inline-block; float: right;  margin-top: .25em; margin-right: 1em;">
      <p style="display: inline-block;">Dark Mode</p>
      <i class="fa fa-moon-o" aria-hidden="true"></i>
    </div>
    <!-- if user is already in darkmode. -->
    <% } else if(user.viewMode === "dark"){%>
    <!-- switch for light/dark mode. -->
    <div style="display: inline-block; float: right; margin-top: .25em; margin-left: 1em;">
      <p style="display: inline-block;">Light Mode</p>
      <i class="fa fa-sun-o" aria-hidden="true"></i>
    </div>
    <div style="display: inline-block; float: right;">
      <label class="switchHome" style="display: inline-block;">
        <input type="checkbox" id="changeMode" value="light">
        <span class="sliderHome roundHome"></span>
      </label>
    </div>
    <div style="display: inline-block; float: right;  margin-top: .25em; margin-right: 1em;">
      <p style="display: inline-block;">Dark Mode</p>
      <i class="fa fa-moon-o" aria-hidden="true"></i>
    </div>
    <% }%>
    <% }%>
    <% }%>
  </header>
  <hr>

  <script>
    document.getElementById("changeMode").addEventListener("click", changeMode, false);

    function changeMode() {
      // console.log(this.value);
      document.getElementById("modeChange").value = this.value;
      document.getElementById("form").submit();
    }
  </script>




  <% if(typeof user != "undefined" && authorized){ %>
  <% if(user.userType === "pro"  || user.userType === "super"){ %>
  <div class="numberOfTrades">
    <h2 class="numberOfTrades"><%= user.cardsOnBlock %> / 12 Total Cards on your block.</h2>    
    <% if(user.cardsOnBlock >= 12){ %>
      <h2 class="numberOfTrades">Please delete or complete your trades inorder to place a new one on the block.</h2>
      <% }%>
      <h2 class="numberOfTrades"><%= userOffersAmount %> / 8 Total Offers made.</h2>   
    <% if(userOffersAmount >= 8){ %>
      <h2 class="numberOfTrades">Please remove your offers inorder to place a new one.</h2>
      <% }%>
  </div>
  <% }%>
  <% if(user.userType === "normal"){ %>
    <div class="numberOfTrades">
      <h2 class="numberOfTrades"><%= user.cardsOnBlock %> / 5 Total Cards on your block.</h2>
      <% if(user.cardsOnBlock >= 5){ %>
        <h2 class="numberOfTrades">Please delete or complete your trades inorder to place a new one on the block.</h2>
        <h2 class="numberOfTrades" style="font-size: .75em;">Or <a href="/upgrade"><b>Upgrade</b></a> your account for the ability to place a total of <b>12</b> cards on the block at once!</h2>
        <% }%>
        <h2 class="numberOfTrades"><%= userOffersAmount %> / 3 Total Offers made.</h2>   
    <% if(userOffersAmount >= 3){ %>
      <h2 class="numberOfTrades">Please remove your offers inorder to place a new one.</h2>
      <% }%>
    </div>
    <% }%>
  <% }%>


  <hr>


  <div class="row homeOptionsOne">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body homeOptionCards">
          <h5 class="card-title">The Block</h5>
          <p class="card-text">View all cards on The Block.</p>
          <a href="/trades/results/1" class="btn btn-primary">The Block</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body homeOptionCards">
          <h5 class="card-title">My Trading Block</h5>
          <p class="card-text">View all cards on your block.</p>
          <a href="/trades/myblock" class="btn btn-primary">My Block</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row homeOptionsTwo">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body homeOptionCards">
          <h5 class="card-title">Add to Trading Block</h5>
          <p class="card-text">Place a new card on the block.</p>
    <!-- checks to see if they can submit another card to the block. depending on level and amount on block currently. -->
    <% if(typeof user != "undefined" && authorized){ %>
      <% if(user.userType === "pro"  || user.userType === "super"){ %>
          <% if(user.cardsOnBlock < 12){ %>
          <a href="/trades/new" class="btn btn-primary">New Trade</a>
          <% } else if(user.cardsOnBlock >= 12){ %>
          <a class="btn btn-primary disabled" >New Trade</a>
          <% } %>
          <% } %>
      <% if(user.userType === "normal"){ %>
          <% if(user.cardsOnBlock < 5){ %>
          <a href="/trades/new" class="btn btn-primary">New Trade</a>
          <% } else if(user.cardsOnBlock >= 5){ %>
          <a class="btn btn-primary disabled" >New Trade</a>
          <% } %>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body homeOptionCards">
          <h5 class="card-title">My Offers</h5>
          <p class="card-text">View your offers.</p>
          <p class=""></p>
          <a href="/trades/myblock/myoffers" class="btn btn-primary">My Offers</a>
        </div>
      </div>
    </div>
  </div>

</div>



  <%- include ('../partials/footer') %>