<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list display only one document based on the passed ID.
-->
<%- include ('../partials/header') %>

<div class=" py-5 bg-faded">
  <header>
    <div class="content contentShow">
      <div class="card leftSpace"></div>
      <div class="card mainPlayerCard">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h4 class="card-title card-title-show">
            <p><%= trade.tradeType %></p>
          </h4>
          <hr />


          <img class="playerImages" src="/playerCardImages/<%= card[0].playerImageLink %>" alt="">


          <hr />

          <div>
            <h5 class="showCardName" style="height: 3em;">
              <p><%= card[0].playerName + ' || ' + card[0].overall %> </p>
              <p><%= card[0].card %></p>
            </h5>

            <hr />

            <div class="showCard">
              <div class="form-group ">
                <div class="row hutCardShort">
                  <div class="col hutCardItem">Name:</div>
                  <div class="col" id="cardName"><%= card[0].playerName%></div>
                </div>
                <div class="row hutCardShort">
                  <div class="col hutCardItem">aOVR:</div>
                  <div class="col" id="cardaOVR"><%= card[0].averageOverAll%></div>
                </div>

                <div class="row hutCardShort">
                  <div class="col hutCardItem">POS:</div>
                  <div class="col" id="cardPOS"><%= card[0].postition%></div>
                </div>
                <div class="row hutCardShort">
                  <div class="col hutCardItem">HAND:</div>
                  <div class="col" id="cardHAND"><%= card[0].handedness%></div>
                </div>
                <div class="row hutCardShort">
                  <div class="col hutCardItem">SYN:</div>
                  <div class="col" id="cardSYN"><%= card[0].synergies%></div>
                </div>
              </div>
            </div>
          </div>


          <% if (typeof trade.user !== 'undefined') {%>
          <small style="font-weight: bold;">by <%= trade.user.userName %></small>
          <% } %>
          <small style="float: right;"><%= trade.updatedAt.toLocaleString("en-US") %></small>
          <% if(trade.console == "Xbox"){ %>
          <hr style="height: .1em; background-color: #107C10;">
          <% }else{ %>
          <hr style="height: .1em;background-color: #003087;">
          <% } %>
          <% if(cardList1[0] || cardList2[0] || cardList3[0] || cardList4[0]){ %>
          <h6>Requested Cards:</h6>
          <hr />
          <% } %>
          <% if(cardList1[0]){ %>
          <div style="overflow: auto;" class="showCardNameL">
            <p class="showCardNameInfo"><%-  cardList1[0].playerName + ' || ' + cardList1[0].card + ' || ' + cardList1[0].overall %> </p>
            <div class="showCard">
              <div class="form-group ">


                <img class="playerImagesRequested" src="/playerCardImages/<%= cardList1[0].playerImageLink %>" alt="">




                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">Name:</div>
                  <div class="col" id="cardName"><%= cardList1[0].playerName%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">aOVR:</div>
                  <div class="col" id="cardaOVR"><%= cardList1[0].averageOverAll%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">POS:</div>
                  <div class="col" id="cardPOS"><%= cardList1[0].postition%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">HAND:</div>
                  <div class="col" id="cardHAND"><%= cardList1[0].handedness%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">SYN:</div>
                  <div class="col" id="cardSYN"><%= cardList1[0].synergies%></div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% if(cardList2[0]){ %>
          <div style="overflow: auto;" class="showCardNameL">
            <p class="showCardNameInfo"><%-  cardList2[0].playerName + ' || ' + cardList2[0].card + ' || ' + cardList2[0].overall %> </p>
            <div class="showCard">
              <div class="form-group ">
                <img class="playerImagesRequested" src="/playerCardImages/<%= cardList2[0].playerImageLink %>" alt="">

                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">Name:</div>
                  <div class="col" id="cardName"><%= cardList2[0].playerName%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">aOVR:</div>
                  <div class="col" id="cardaOVR"><%= cardList2[0].averageOverAll%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">POS:</div>
                  <div class="col" id="cardPOS"><%= cardList2[0].postition%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">HAND:</div>
                  <div class="col" id="cardHAND"><%= cardList2[0].handedness%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">SYN:</div>
                  <div class="col" id="cardSYN"><%= cardList2[0].synergies%></div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% if(cardList3[0]){ %>
          <div style="overflow: auto;" class="showCardNameL">
            <p class="showCardNameInfo"><%-  cardList3[0].playerName + ' || ' + cardList3[0].card + ' || ' + cardList3[0].overall %> </p>
            <div class="showCard">
              <div class="form-group ">
                <img class="playerImagesRequested" src="/playerCardImages/<%= cardList3[0].playerImageLink %>" alt="">

                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">Name:</div>
                  <div class="col" id="cardName"><%= cardList3[0].playerName%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">aOVR:</div>
                  <div class="col" id="cardaOVR"><%= cardList3[0].averageOverAll%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">POS:</div>
                  <div class="col" id="cardPOS"><%= cardList3[0].postition%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">HAND:</div>
                  <div class="col" id="cardHAND"><%= cardList3[0].handedness%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">SYN:</div>
                  <div class="col" id="cardSYN"><%= cardList3[0].synergies%></div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% if(cardList4[0]){ %>
          <div style="overflow: auto;" class="showCardNameL">
            <p class="showCardNameInfo"><%-  cardList4[0].playerName + ' || ' + cardList4[0].card + ' || ' + cardList4[0].overall %> </p>
            <div class="showCardRequested">
              <div class="form-group ">
                <img class="playerImagesRequested" src="/playerCardImages/<%= cardList4[0].playerImageLink %>" alt="">

                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">Name:</div>
                  <div class="col" id="cardName"><%= cardList4[0].playerName%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">aOVR:</div>
                  <div class="col" id="cardaOVR"><%= cardList4[0].averageOverAll%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">POS:</div>
                  <div class="col" id="cardPOS"><%= cardList4[0].postition%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">HAND:</div>
                  <div class="col" id="cardHAND"><%= cardList4[0].handedness%></div>
                </div>
                <div class="row hutCardShortLr">
                  <div class="col hutCardItem">SYN:</div>
                  <div class="col" id="cardSYN"><%= cardList4[0].synergies%></div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <hr>


          <% if(trade.buyNow){ %>
          <p class="card-text"><span style="font-weight: 700;">Buy Now: <%= trade.buyNow.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") %></span><span
              style="color: orange; font-weight: 700;">c</span></p>
          <% }else{ %>
          <p class="card-text">Buy Now: N/A</p>
          <% } %>

          <% if(trade.tradeStatus == "Traded"){ %>
          <p class="card-text" style="text-decoration: line-through;">Currently: <%= trade.tradeStatus %></p>
          <% } %>
          <% if(trade.tradeStatus == "Available"){ %>
          <p class="card-text" style="font-weight: 600;">Currently: <%= trade.tradeStatus %> <span
              style="font-weight: 400;">&nbsp;on <%= trade.console %></span> </p>
          <% } %>


          <!-- if the card isnt sold/traded -->
          <% if(trade.tradeStatus != "Traded"){ %>

          <% if(authorized && (typeof trade.user === 'undefined' || trade.user.email === email)) { %>
          <hr />
          <form style="background: none; display: inline-block; float: right;" class="form-inline"
            action="/trades/delete" method="post"
            onsubmit="return confirm('Are you sure you want to delete this trade? This can not be undone!');">
            <input type="hidden" value="<%= trade.id %>" name="id">
            <button type="submit" class="delete" style="border: none;
                    background-color: white; size: 10%">
              <a class="btn btn-danger" aria-label="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </button>
          </form>
          <% if(trade.tradeStatus == "Traded"){ %>
          <a class="btn btn-secondary btn-sm"
            style="display: inline-block; float: left; text-decoration: line-through;">Complete Trade</a>
          <% } %>
          <% if(trade.tradeStatus == "Available"){ %>
          <a class="btn btn-success btn-sm" href="/trades/<%= trade.id %>/edit"
            style="display: inline-block; float: left; "
            onclick="return confirm('Only complete a trade if both parties have recived their cards! \nAre you sure you want to complete this trade?');">Complete
            Trade</a>
          <% } %>
          <% } %>
        </div>
      </div>

      <%= //console.log(card);%>
      <%= //console.log(cardList1);%>
      <%=// console.log(cardList2);%>
      <%= //console.log(cardList3);%>
      <%=// console.log(cardList4);%>






















      <!-- If logged in and not the user who made the trade then show this -->

      <% if(authorized && user._id.toString() !== trade.user._id.toString()) { %> 
        <script> let ioi = 0; let tradeOfferInfo; let tab;</script>
            <% let iioi = 0; %>  
            <% //console.log(trade.tradeOffers) %> 
          <% for (let tradeOffer of trade.tradeOffers) { %>
             <!-- if there is a trade from the user who is viewing the page, show only their trade -->
           
            <% //console.log(tradeOffer) %> 
            <% //console.log(tradeOffer.offers.offerUserID.toString().trim() === user._id.toString().trim()) %> 
            <% if(tradeOffer.offerUserID.toString().trim() == user._id.toString().trim()){ %> 
              <%// console.log("hit again") %>
              
             
              <div class="card tradeOfferCardsNamesMy">   
                          
              <button class="tradeTabs tradeOfferCardsNamesButton" id="temp" onclick="showOffer(this.id)"
                value="<%= tradeOffer %>">My Offer (#<%= iioi + 1 %>)</button>
                

              

              <div id="tempOfferCard" class="card cardTempOfferCard tradeOfferCards">
                <h5 class="card-title tradeOfferCardsTitle"><label for="comment" style="margin: 1em;">Trade Offer from:
                    <%= tradeOffer.user %></label></h5>










                    <!-- <% //if(true) { %>
                      <hr />
                      <%=// console.log()  %> 
                      <form style="background: none; display: inline-block;" class="form-inline"
                        action="/trades/deleteOffer" method="post"
                        onsubmit="return confirm('Are you sure you want to remove this offer? This can not be undone!');">
                        <input type="hidden" value="<%= //tradeOffer %>" name="offerTradeId">
                         <input type="hidden" value="<%=// iioi %>" name="indexNumber"> -->
                        <!-- <input type="hidden" name="id" value="<%=// tradeOffer.offers.id %>">
                        <button type="submit" class="delete" style="border: none;
                                background-color: white; size: 10%">
                          <a class="btn btn-danger" aria-label="Delete">Remove Offer
                          </a>
              
                        </button>
                      </form>
                      <%// } %> --> 




























                    


        
                <hr>
        
                <% if(tradeOffer.coinsOffer !== ""){ %>
                <h6 class="tradeOfferCardsSmallTitle">Coins Offer:</h6>
                <p class="cardOfferTitle"><%= tradeOffer.coinsOffer.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") %><span
                  style="color: orange; font-weight: 700;">c</span></p>
                <% %>
                  <!-- checking for card offers and printing them if needed -->
          <% }else if(typeof cardOffers["CardsO1" + iioi] !== 'undefined'){ %>
            <% //console.log(cardOffers["CardsO1" + iioi]) %> 
                <div style="overflow: auto;" class="showCardNameL">
                  <h6 class="tradeOfferCardsSmallTitle">Card One:</h6>
                  <p class="cardOfferTitle">
                    <%-  cardOffers["CardsO1" + iioi][0].playerName + ' || ' + cardOffers["CardsO1" + iioi][0].card + ' || ' + cardOffers["CardsO1" + iioi][0].overall %>
                  </p>
                  <div class="showCard">


                    <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO1" + iioi][0].playerImageLink %>" alt="">



                    <div class="form-group" style="width: 70%; float: right;">

                      
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Name:</div>
                        <div class="col" id="cardName"><%= cardOffers["CardsO1" + iioi][0].playerName%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">aOVR:</div>
                        <div class="col" id="cardaOVR"><%= cardOffers["CardsO1" + iioi][0].averageOverAll%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">POS:</div>
                        <div class="col" id="cardPOS"><%= cardOffers["CardsO1" + iioi][0].postition%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">HAND:</div>
                        <div class="col" id="cardHAND"><%= cardOffers["CardsO1" + iioi][0].handedness%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">SYN:</div>
                        <div class="col" id="cardSYN"><%= cardOffers["CardsO1" + iioi][0].synergies%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Height:</div>
                        <div class="col" id="cardHeight"><%= cardOffers["CardsO1" + iioi][0].height%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Weight:</div>
                        <div class="col" id="cardWeight"><%= cardOffers["CardsO1" + iioi][0].weight%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Player Type:</div>
                        <div class="col" id="cardPlayerType"><%= cardOffers["CardsO1" + iioi][0].playerType%></div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if(typeof cardOffers["CardsO2" + iioi] !== 'undefined'){ %>
                <div style="overflow: auto;" class="showCardNameL">
                  <h6 class="tradeOfferCardsSmallTitle">Card Two:</h6>
                  <p class="cardOfferTitle">
                    <%-  cardOffers["CardsO2" + iioi][0].playerName + ' || ' + cardOffers["CardsO2" + iioi][0].card + ' || ' + cardOffers["CardsO2" + iioi][0].overall %>
                  </p>
                  <div class="showCard">
                    <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO2" + iioi][0].playerImageLink %>" alt="">

                    <div class="form-group " style="width: 70%; float: right;">
                     
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Name:</div>
                        <div class="col" id="cardName"><%= cardOffers["CardsO2" + iioi][0].playerName%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">aOVR:</div>
                        <div class="col" id="cardaOVR"><%= cardOffers["CardsO2" + iioi][0].averageOverAll%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">POS:</div>
                        <div class="col" id="cardPOS"><%= cardOffers["CardsO2" + iioi][0].postition%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">HAND:</div>
                        <div class="col" id="cardHAND"><%= cardOffers["CardsO2" + iioi][0].handedness%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">SYN:</div>
                        <div class="col" id="cardSYN"><%= cardOffers["CardsO2" + iioi][0].synergies%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Height:</div>
                        <div class="col" id="cardHeight"><%= cardOffers["CardsO2" + iioi][0].height%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Weight:</div>
                        <div class="col" id="cardWeight"><%= cardOffers["CardsO2" + iioi][0].weight%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Player Type:</div>
                        <div class="col" id="cardPlayerType"><%= cardOffers["CardsO2" + iioi][0].playerType%></div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if(typeof cardOffers["CardsO3" + iioi] !== 'undefined'){ %>
                <div style="overflow: auto;" class="showCardNameL">
                  <h6 class="tradeOfferCardsSmallTitle">Card Three:</h6>
                  <p class="cardOfferTitle">
                    <%-  cardOffers["CardsO3" + iioi][0].playerName + ' || ' + cardOffers["CardsO3" + iioi][0].card + ' || ' + cardOffers["CardsO3" + iioi][0].overall %>
                  </p>
                  <div class="showCard">
                    <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO3" + iioi][0].playerImageLink %>" alt="">

                    <div class="form-group " style="width: 70%; float: right;">
                      
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Name:</div>
                        <div class="col" id="cardName"><%= cardOffers["CardsO3" + iioi][0].playerName%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">aOVR:</div>
                        <div class="col" id="cardaOVR"><%= cardOffers["CardsO3" + iioi][0].averageOverAll%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">POS:</div>
                        <div class="col" id="cardPOS"><%= cardOffers["CardsO3" + iioi][0].postition%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">HAND:</div>
                        <div class="col" id="cardHAND"><%= cardOffers["CardsO3" + iioi][0].handedness%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">SYN:</div>
                        <div class="col" id="cardSYN"><%= cardOffers["CardsO3" + iioi][0].synergies%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Height:</div>
                        <div class="col" id="cardHeight"><%= cardOffers["CardsO3" + iioi][0].height%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Weight:</div>
                        <div class="col" id="cardWeight"><%= cardOffers["CardsO3" + iioi][0].weight%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Player Type:</div>
                        <div class="col" id="cardPlayerType"><%= cardOffers["CardsO3" + iioi][0].playerType%></div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <% if(typeof cardOffers["CardsO4" + iioi] !== 'undefined'){ %>
                <div style="overflow: auto;" class="showCardNameL">
                  <h6 class="tradeOfferCardsSmallTitle">Card Four:</h6>
                  <p class="cardOfferTitle">
                    <%-  cardOffers["CardsO4" + iioi][0].playerName + ' || ' + cardOffers["CardsO4" + iioi][0].card + ' || ' + cardOffers["CardsO4" + iioi][0].overall %>
                  </p>
                  <div class="showCard">
                    <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO4" + iioi][0].playerImageLink %>" alt="">

                    <div class="form-group " style="width: 70%; float: right;">
                     
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Name:</div>
                        <div class="col" id="cardName"><%= cardOffers["CardsO4" + iioi][0].playerName%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">aOVR:</div>
                        <div class="col" id="cardaOVR"><%= cardOffers["CardsO4" + iioi][0].averageOverAll%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">POS:</div>
                        <div class="col" id="cardPOS"><%= cardOffers["CardsO4" + iioi][0].postition%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">HAND:</div>
                        <div class="col" id="cardHAND"><%= cardOffers["CardsO4" + iioi][0].handedness%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">SYN:</div>
                        <div class="col" id="cardSYN"><%= cardOffers["CardsO4" + iioi][0].synergies%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Height:</div>
                        <div class="col" id="cardHeight"><%= cardOffers["CardsO4" + iioi][0].height%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Weight:</div>
                        <div class="col" id="cardWeight"><%= cardOffers["CardsO4" + iioi][0].weight%></div>
                      </div>
                      <div class="row hutCardShortL">
                        <div class="col hutCardItem">Player Type:</div>
                        <div class="col" id="cardPlayerType"><%= cardOffers["CardsO4" + iioi][0].playerType%></div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <hr>
        
  <!-- comments section -->

        <!-- <div class="card" style="width: 34.5rem; min-height: 6em; margin: 1.3em; margin-bottom: 1em; float: left;"> -->
          <h5 class="card-title tradeOfferCardsTitleTalk">
            <p>Trade Talk</p>
          </h5>
  
  
          <hr>
          <% if(typeof tradeOffer.tradeComments !== 'undefined'){ %>
          <%// console.log(tradeOffer.tradeComments); %>
          <% for (i = 0; i < tradeOffer.tradeComments.length; i++)  {%>
          <% //console.log("hit"); %>
          <p style="margin: none; margin-left: 1em;"><%= tradeOffer.tradeComments[i]; %> </p>
          <hr>
          <% } %>
          <% } %>
          <!-- <hr> -->
  
          
  
  
  
  
          <form action="<%= (typeof actionPath === 'undefined') ? '/trades/tradeComment' : actionPath %>" , method="POST">
            <% //console.log(trade.tradeId) %> 
            <% //console.log(tradeOffer.tradeId) %> 
            <input type="hidden" name="id" value="<%= trade.id %>">
            <input type="hidden" name="tradeId" value="<%= tradeOffer.tradeId %>">
            <input type="hidden" name="user" value="<%= user.userName %>">
            <input type="hidden" name="tradeNumber" value="<%= iioi + 1 %>">
            <!-- <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">Trade Talk</label></h5> -->
            <input style="margin: 1em; width: 78%;" type="text" name="comment" id="comment">
            <div class="form-group" style="display: inline;">
              <button style="margin-top: -.5em;" class="btn btn-dark">Submit</button>
            </div>
          </form>
  
  
  
  
  
  
  
        
        
        
        
              </div>
        
        
        
        
        
        
              <!-- </div> -->
        
              <!-- //cardOffers["CardsO2" + 0][0].playerName -->
        
              <% iioi++; %>
              <script>
                //setting the ids of the cards and such, we still in dat loop :)
                var divCard = document.getElementById("tempOfferCard");
                divCard.setAttribute("id", ioi + 1000);
                //console.log(divCard);
                var div = document.getElementById("temp");
                div.setAttribute("id", ioi);
        
                ioi++;
        
        
              </script>
              <script>
                function showOffer(id) {
                  //console.log(parseInt(id));
                  iid = (1000 + parseInt(id));
                  // console.log(id);
                  //showing and removing trade offer block depending on clicks. We still in da loop ;)
                  if (document.getElementById(iid).style.display === "block") {
                    document.getElementById(iid).style.display = "none";
                    document.getElementById(id).style.color = "black";
        
                  } else {
                    document.getElementById(iid).style.display = "block";
                    document.getElementById(id).style.color = "#191919";
                  }
                }
              </script>
        
        
<!--         
              <%// } %>
        
        
        
        
        
        
              </ul>
            </div>
            <%// } %>
            <%// } %> -->
        















































          </div>
            <% } %> 
              <%// console.log("-") %> 
              <%// console.log(tradeOffer.offerUserID.toString()) %> 
              <%// console.log(user._id.toString()) %> 
        <% } %> 

     




        
      <div class="card offerCardOnF" id="offerCardOnF">
        <form action="<%= (typeof actionPath === 'undefined') ? '/trades/comment' : actionPath %>" , method="POST">
          <input type="hidden" name="id" value="<%= trade.id %>">
          <input type="hidden" name="user" value="<%= user.userName %>">
          <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">Inquire about
              trade</label></h5>
          <!-- <input style="margin: 1em; margin-top: -1em; width: 97%;" type="text" name="comment" id="comment"> -->

          <div class="container">
            <label>Offer:</label>
            <div class="switch-toggle switch-2 switch-candy">
              <input id="playersOffer" class="consolePicker" value="playersOffer" type="radio" />
              <label for="playersOffer" class="consolePicker" onclick="openPlayerOptions();"
                style="background-color: #107C10;">Player(s)</label>

              <input id="coinsOffer" class="consolePicker" value="coinsOffer" type="radio" />
              <label for="coinsOffer" class="consolePicker" onclick="openCoinsOptions();"
                style="background-color: #003087;">Coins</label>

              <a></a>
            </div>



            <div class="form-group" id="offerForSearch">
              <hr />
              <label for="trade">Offer Players:</label> <br />
              <label for="trade">Card 1:</label>
              <%- include ('../partials/searchOF1') %>
              <label for="trade">Card 2:</label>
              <%- include ('../partials/searchOF2') %>
              <label for="trade">Card 3:</label>
              <%- include ('../partials/searchOF3') %>
              <label for="trade">Card 4:</label>
              <%- include ('../partials/searchOF4') %>
            </div>

            <div id="offerCoinsForSearch">
              <hr />
              <label for="trade">Offer Coins:</label> <br />
              <input id="coinsOfferInput" type="number" name="coinsOffer" onfocus="this.value=''">
            </div>

            <script>
              function openPlayerOptions() {
                document.getElementById('offerForSearch').style.display = 'block';
                document.getElementById('offerSubmitButton').style.display = 'block';

                document.getElementById('playerNamesO2').value = '';
                document.getElementById('playerNamesO3').value = '';
                document.getElementById('playerNamesO4').value = '';
                document.getElementById('playerNamesO5').value = '';

                document.getElementById('offerCoinsForSearch').style.display = 'none';
              }
              function openCoinsOptions() {

                document.getElementById('offerForSearch').style.display = 'none';
                document.getElementById('offerCoinsForSearch').style.display = 'block';
                document.getElementById('offerSubmitButton').style.display = 'block';
                document.getElementById('coinsOfferInput').value = '';

              }
            </script>




            <br />


            <!-- <input hidden name="cardId" id="cardId" value=""></input> -->
            <input hidden name="cardListO1" id="cardListO1" value=""></input>
            <input hidden name="cardListO2" id="cardListO2" value=""></input>
            <input hidden name="cardListO3" id="cardListO3" value=""></input>
            <input hidden name="cardListO4" id="cardListO4" value=""></input>
            <input hidden name="offerUserID" id="offerUserID" value="<%= user._id.toString() %> "></input>
            <input hidden name="offerUserName" id="offerUserName" value="<%= user.userName.toString() %> "></input>
            <input hidden name="tradeId" id="tradeId" value="<%= Date.now() %> "></input>



            <div class="form-group" id="offerSubmitButton">
              <button class="btn btn-dark">Submit</button>
            </div>
        </form>
      </div>
      

      <% } %>

<!-- if 3 of the users own offers exsist then hide the create function -->
<% if(typeof user != "undefined" && authorized){ %>
  <% if(user.userType === "pro"){ %>
      <script>        
        if(document.getElementById("7")){
          document.getElementById("offerCardOnF").style.display = "none";
          document.getElementById("offerCardOnF").style.visibility = "hidden";
        }
        </script>
  <% } %>
    <% if(user.userType === "normal"){ %>
      <script>        
        if(document.getElementById("2")){
          document.getElementById("offerCardOnF").style.display = "none";
          document.getElementById("offerCardOnF").style.visibility = "hidden";
        }
        </script>
  <% } %>
  <% } %>




      <!-- If you are logged in and you are the user who made the trade, show this. -->
      <% if(user){ %>
      <% if((authorized) && user._id.toString() === trade.user._id.toString()) { %>
      <div class="card tradeOfferCardsNames">
        <h5 class="card-title-tradeOffers"><label for="comment" style="margin: 1em;">Trade Offers:</label></h5>
        <div class="card tradeSideCards">
          <ul class="nav nav-pills">
            <script> let i = 0; let tradeOfferInfo; let tab;</script>
            <% let ii = 0; %>
            <% for (let tradeOffer of trade.tradeOffers) { %>

            <%// console.log(tradeOffer.offers) %>

            <li><button class="tradeTabs" id="temp" onclick="showOffer(this.id)"
                value="<%= tradeOffer %>"><%= tradeOffer.user %></button></li>


            <% } %>
        </div>
        <!-- if its a new offer and has no trade offers yet. -->
        <% if(trade.tradeOffers === undefined || trade.tradeOffers.length == 0) {%>
      </div>
      <div class="card tradeSideCards">
        <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">This trade has no active
            offers at the moment.</label></h5>
        <p style="margin-left: 1em;">Please come back later...</p>
      </div>
      
      <% } %>

    </div>
      <!-- going through all trade offers -->
      <% for (let tradeOffer of trade.tradeOffers) { %>

      <%= //console.log(cardOffers["CardsO1" + ii]) %>
      <div id="tempOfferCard" class="card cardTempOfferCard tradeOfferCards tempOf">
        <h5 class="card-title tradeOfferCardsTitle"><label for="comment" style="margin: 1em;">Trade Offer from:
            <%= tradeOffer.user %></label></h5>

        <hr>

        <% if(tradeOffer.coinsOffer !== ""){ %>
        <h6 class="tradeOfferCardsSmallTitle">Coins Offer:</h6>
        <p class="cardOfferTitle"><%= tradeOffer.coinsOffer.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") %><span
          style="color: orange; font-weight: 700;">c</span></p>
        <% %>
          <!-- checking for card offers and printing them if needed -->
  <% }else if(typeof cardOffers["CardsO1" + ii] !== 'undefined'){ %>
        <div style="overflow: auto;" class="showCardNameL">
          <h6 class="tradeOfferCardsSmallTitle">Card One:</h6>
          <p class="cardOfferTitle">
            <%-  cardOffers["CardsO1" + ii][0].playerName + ' || ' + cardOffers["CardsO1" + ii][0].card + ' || ' + cardOffers["CardsO1" + ii][0].overall %>
          </p>
          <div class="showCard">
            <div class="form-group ">

              <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO1" + ii][0].playerImageLink %>" alt="">

              <div class="row hutCardShortL">
                <div class="col hutCardItem">Name:</div>
                <div class="col" id="cardName"><%= cardOffers["CardsO1" + ii][0].playerName%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">aOVR:</div>
                <div class="col" id="cardaOVR"><%= cardOffers["CardsO1" + ii][0].averageOverAll%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">POS:</div>
                <div class="col" id="cardPOS"><%= cardOffers["CardsO1" + ii][0].postition%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">HAND:</div>
                <div class="col" id="cardHAND"><%= cardOffers["CardsO1" + ii][0].handedness%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">SYN:</div>
                <div class="col" id="cardSYN"><%= cardOffers["CardsO1" + ii][0].synergies%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Height:</div>
                <div class="col" id="cardHeight"><%= cardOffers["CardsO1" + ii][0].height%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Weight:</div>
                <div class="col" id="cardWeight"><%= cardOffers["CardsO1" + ii][0].weight%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Player Type:</div>
                <div class="col" id="cardPlayerType"><%= cardOffers["CardsO1" + ii][0].playerType%></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(typeof cardOffers["CardsO2" + ii] !== 'undefined'){ %>
        <div style="overflow: auto;" class="showCardNameL">
          <h6 class="tradeOfferCardsSmallTitle">Card Two:</h6>
          <p class="cardOfferTitle">
            <%-  cardOffers["CardsO2" + ii][0].playerName + ' || ' + cardOffers["CardsO2" + ii][0].card + ' || ' + cardOffers["CardsO2" + ii][0].overall %>
          </p>
          <div class="showCard">
            <div class="form-group ">
              <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO2" + ii][0].playerImageLink %>" alt="">

              <div class="row hutCardShortL">
                <div class="col hutCardItem">Name:</div>
                <div class="col" id="cardName"><%= cardOffers["CardsO2" + ii][0].playerName%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">aOVR:</div>
                <div class="col" id="cardaOVR"><%= cardOffers["CardsO2" + ii][0].averageOverAll%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">POS:</div>
                <div class="col" id="cardPOS"><%= cardOffers["CardsO2" + ii][0].postition%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">HAND:</div>
                <div class="col" id="cardHAND"><%= cardOffers["CardsO2" + ii][0].handedness%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">SYN:</div>
                <div class="col" id="cardSYN"><%= cardOffers["CardsO2" + ii][0].synergies%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Height:</div>
                <div class="col" id="cardHeight"><%= cardOffers["CardsO2" + ii][0].height%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Weight:</div>
                <div class="col" id="cardWeight"><%= cardOffers["CardsO2" + ii][0].weight%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Player Type:</div>
                <div class="col" id="cardPlayerType"><%= cardOffers["CardsO2" + ii][0].playerType%></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(typeof cardOffers["CardsO3" + ii] !== 'undefined'){ %>
        <div style="overflow: auto;" class="showCardNameL">
          <h6 class="tradeOfferCardsSmallTitle">Card Three:</h6>
          <p class="cardOfferTitle">
            <%-  cardOffers["CardsO3" + ii][0].playerName + ' || ' + cardOffers["CardsO3" + ii][0].card + ' || ' + cardOffers["CardsO3" + ii][0].overall %>
          </p>
          <div class="showCard">
            <div class="form-group ">

              <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO3" + ii][0].playerImageLink %>" alt="">

              <div class="row hutCardShortL">
                <div class="col hutCardItem">Name:</div>
                <div class="col" id="cardName"><%= cardOffers["CardsO3" + ii][0].playerName%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">aOVR:</div>
                <div class="col" id="cardaOVR"><%= cardOffers["CardsO3" + ii][0].averageOverAll%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">POS:</div>
                <div class="col" id="cardPOS"><%= cardOffers["CardsO3" + ii][0].postition%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">HAND:</div>
                <div class="col" id="cardHAND"><%= cardOffers["CardsO3" + ii][0].handedness%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">SYN:</div>
                <div class="col" id="cardSYN"><%= cardOffers["CardsO3" + ii][0].synergies%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Height:</div>
                <div class="col" id="cardHeight"><%= cardOffers["CardsO3" + ii][0].height%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Weight:</div>
                <div class="col" id="cardWeight"><%= cardOffers["CardsO3" + ii][0].weight%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Player Type:</div>
                <div class="col" id="cardPlayerType"><%= cardOffers["CardsO3" + ii][0].playerType%></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(typeof cardOffers["CardsO4" + ii] !== 'undefined'){ %>
        <div style="overflow: auto;" class="showCardNameL">
          <h6 class="tradeOfferCardsSmallTitle">Card Four:</h6>
          <p class="cardOfferTitle">
            <%-  cardOffers["CardsO4" + ii][0].playerName + ' || ' + cardOffers["CardsO4" + ii][0].card + ' || ' + cardOffers["CardsO4" + ii][0].overall %>
          </p>
          <div class="showCard">
            <div class="form-group ">
              <img class="playerImagesOffer" src="/playerCardImages/<%= cardOffers["CardsO4" + ii][0].playerImageLink %>" alt="">

              <div class="row hutCardShortL">
                <div class="col hutCardItem">Name:</div>
                <div class="col" id="cardName"><%= cardOffers["CardsO4" + ii][0].playerName%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">aOVR:</div>
                <div class="col" id="cardaOVR"><%= cardOffers["CardsO4" + ii][0].averageOverAll%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">POS:</div>
                <div class="col" id="cardPOS"><%= cardOffers["CardsO4" + ii][0].postition%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">HAND:</div>
                <div class="col" id="cardHAND"><%= cardOffers["CardsO4" + ii][0].handedness%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">SYN:</div>
                <div class="col" id="cardSYN"><%= cardOffers["CardsO4" + ii][0].synergies%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Height:</div>
                <div class="col" id="cardHeight"><%= cardOffers["CardsO4" + ii][0].height%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Weight:</div>
                <div class="col" id="cardWeight"><%= cardOffers["CardsO4" + ii][0].weight%></div>
              </div>
              <div class="row hutCardShortL">
                <div class="col hutCardItem">Player Type:</div>
                <div class="col" id="cardPlayerType"><%= cardOffers["CardsO4" + ii][0].playerType%></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <hr>


        <!-- comments section -->

        <!-- <div class="card" style="width: 34.5rem; min-height: 6em; margin: 1.3em; margin-bottom: 1em; float: left;"> -->
        <h5 class="card-title tradeOfferCardsTitleTalk">
          <p>Trade Talk</p>
        </h5>


        <hr>
        <% if(typeof tradeOffer.tradeComments !== 'undefined'){ %>
        <%// console.log(tradeOffer.tradeComments); %>
        <% for (i = 0; i < tradeOffer.tradeComments.length; i++)  {%>
        <% //console.log("hit"); %>
        <p style="margin: none; margin-left: 1em;"><%= tradeOffer.tradeComments[i]; %> </p>
        <hr>
        <% } %>
        <% } %>
        <!-- <hr> -->





        <form action="<%= (typeof actionPath === 'undefined') ? '/trades/tradeComment' : actionPath %>" , method="POST">
          <input type="hidden" name="id" value="<%= trade.id %>">
          <input type="hidden" name="user" value="<%= user.userName %>">
          <input type="hidden" name="tradeId" value="<%= tradeOffer.tradeId %>">
          <input type="hidden" name="tradeNumber" value="<%= ii %>">
          <!-- <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">Trade Talk</label></h5> -->
          <input style="margin: 1em; width: 75%;" type="text" name="comment" id="comment">
          <div class="form-group" style="display: inline;">
            <button style="margin-top: -.5em;" class="btn btn-dark">Submit</button>
          </div>
        </form>








      </div>






      <!-- </div> -->

      <!-- //cardOffers["CardsO2" + 0][0].playerName -->

      <% ii++; %>
      <script>
        //setting the ids of the cards and such, we still in dat loop :)
        var divCard = document.getElementById("tempOfferCard");
        divCard.setAttribute("id", i + 1000);
        //console.log(divCard);
        var div = document.getElementById("temp");
        div.setAttribute("id", i);

        i++;


      </script>
      <script>
        function showOffer(id) {
          //console.log(parseInt(id));
          iid = (1000 + parseInt(id));
          // console.log(id);
          //showing and removing trade offer block depending on clicks. We still in da loop ;)
          if (document.getElementById(iid).style.display === "block") {
            document.getElementById(iid).style.display = "none";
            document.getElementById(id).style.color = "black";

          } else {
            document.getElementById(iid).style.display = "block";
            document.getElementById(id).style.color = "green";
          }
        }
      </script>



      <% } %>






      </ul>
    </div>
    <% } %>
    <% } %>









    <!-- If you are not logged in, show this. -->
    <% if(!authorized) { %>
    <div class="card tradeSideCards">
      <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">Inquire about
          trade</label></h5>
      <p style="margin-left: 1em;">Please log in to make an offer.</p>
    </div>
    <% } %>


    <% } else { %>

</div>
</div>
<!-- If the trade has been finished and the completed button was clicked. everyone will see this... -->
<div class="card tradeSideCards">
  <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">This Trade Has Been
      Completed!</label></h5>
  <p style="margin-left: 1em;">Please visit The Block for other options...</p>
</div>

<% } %>


<%- include ('../partials/footer') %>