<%- include ('../partials/header') %>

<header >
  <h1 style="font-size: 1em; color: black;">Subscription Success!</h1>
</header>

<div>
  <h4>Please save the information below, all information is needed when dealing with payment issues.</h4>
  <p>PaymentId: </p><p style="color: red;"><%= paymentDetails.paymentId %></p>
  <p>Token: </p><p style="color: red;"><%= paymentDetails.token %></p>
  <p>PayerID: </p><p style="color: red;"><%= paymentDetails.PayerID %></p>
</div>







<%- include ('../partials/footer') %>
